<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6960204212794" version="0.0.1">
  <name>天猫</name>
  <description>这是config.xml里的描述</description>
  <author email="13633835270@163.com" href="http://www.baidu.com">lalalalalala</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="true"/>
  <preference name="appBackground" value="rgba(0,0,0,0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="call"/>
  <permission name="sms"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="contact"/>
  <access origin="*"/>
  <feature name="baiduMap">
    <param name="android_api_key" value="KXPqPc3ZrIirxx6KoER90rxC"/>
    <param name="ios_api_key" value="d5LQO05C5BAyAXjzOkkLvQrC"/>
  </feature>
</widget>
